<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {# cross site request forgery -> 해킹 공격의 일종, 요청을 만들어서 실제 요청인것 마냥 보내는 것 #}
        {% csrf_token %}
        <input name = "title">
        <select name = "category">
            {% for category in categories %}
                    {#value는 요청을 보낼때 넘어가는 값 / 오른쪽 name은 이용자에게 보여주기 위한 것일 뿐#}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <input name="content">
        <button type="submit">글쓰기</button>
    </form>

</body>
</html>
